@import "./variables";
@import "./mixins";
@import "./normalize";

.collapsible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid $bottomBorder;
  -webkit-transition: border-bottom 0;
  -webkit-transition: border-bottom 0.4s ease;
  transition: border-bottom 0.4s ease;

  &__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &--title {
      font-size: 18px;
      color: $colorSecondary;
      font-family: $fontPrimary;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 10px;
    }

    &--fav {
      color: $colorPrimary;
      font-size: 18px;
    }
  }

  &--arrow {
    font-size: 18px;
    color: $colorSecondary;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.2s ease;
  }

  &--window {
    -webkit-transition: max-height 0.4s ease-in-out;
    transition: max-height 0.4s ease-in-out;
  }

  &:hover {
    cursor: pointer;
  }
}

.closed {
  .collapsible--window {
    max-height: 0;
    overflow: hidden;
  }

  .collapsible--arrow {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.open {
  .collapsible {
    border-bottom: 1px solid transparent;
  }

  .collapsible--window {
    max-height: 100%;
  }

  .collapsible--arrow {
    -webkit-transform: rotate(-180deg) translateY(50%);
    transform: rotate(-180deg) translateY(50%);
  }
}