@import "./variables";
@import "./mixins";
@import "./normalize";

.preview__reset {
  @include buttons();
  width: 75px;
  border-radius: 15px;
  border: solid 1px $colorButton;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.67;
  color: $colorSecondary;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 20px;
}

.preview {
  @include center();
  background-image: url("../images/flower.jpg");
  background-repeat: repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  min-height: 460px;

  @media all and (min-width: 768px) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 50%;
    border-radius: 6px;
    margin: 20px 40px 20px 0;
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    @media all and (min-width: 768px) {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  &__display--img {
    width: 240px;
    height: 200px;
    background: url("../images/default-profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__display {
    background-color: #fff;
    font-family: $fontCard;
    -webkit-box-shadow: 0 1px 10px grey, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 10px grey, 0 1px 3px 0 rgba(0, 0, 0, 0.35);

    &--header {
      padding: 20px 0 10px;
    }

    &--container {
      padding-left: 20px;
      border-left: 5px solid $colorOption1-2;
    }

    &--title {
      margin-bottom: 4px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.11;
      color: $colorOption1-1;
      max-width: 195px;
    }

    &--subtitle {
      font-size: 16px;
      font-weight: normal;
      color: $colorSecondary;
      max-width: 195px;
      overflow: hidden;
    }
  }
}


.palette1 {
  .preview__display {
    &--title {
      color: $colorOption1-1;
    }

    &--container {
      border-left: 5px solid $colorOption1-2;
    }
  }

  .menu {
    &__links {
      color: $colorOption1-1;
    }

    &__items {
      border: 2px solid $colorOption1-3;
    }
  }
}

.palette2 {
  .preview__display {
    &--title {
      color: $colorOption2-1;
    }

    &--container {
      border-left: 5px solid $colorOption2-2;
    }
  }

  .menu {
    &__links {
      color: $colorOption2-1;
    }

    &__items {
      border: 2px solid $colorOption2-3;
    }
  }
}


.palette3 {
  .preview__display {
    &--title {
      color: $colorOption3-1;
    }

    &--container {
      border-left: 5px solid $colorOption3-2;
    }
  }

  .menu {
    &__links {
      color: $colorOption3-1;
    }

    &__items {
      border: 2px solid $colorOption3-3;
    }
  }
}