.fill {
  display: flex;
  flex-direction: column;
  border-bottom: $bottomBorder solid 1px;
  padding-top: 25px;

  // overflow: hidden;
  // opacity: 0;
  // max-height: 0;

  &__lable {
    color: $colorTertiary;
    font-size: 14px;
    font-family: $fontPrimary;
    margin-bottom: 7px;
  }

  &__box {
    height: 30px;
    border: $placeholderBorder solid 1px;
    font-size: 14px;
    line-height: 20px;
    color: $placeholderColor;
    padding-left: 9px;
    margin-bottom: 20px;
    width: 100%;
  }

  &__image {
    display: flex;
    padding-bottom: 20px;

    &--button {
      @include center();
      @include buttons();
      width: 140px;
      background: $colorPrimary;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);

      &:hover {
        cursor: pointer;
      }
    }

    &--miniature {
      height: 30px;
      width: 30px;
      border: $placeholderBorder solid 1px;
      margin-left: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.hidden {
  display: none;
}
